CADDY_DATA_FOLDER=./data/caddy
CADDY_CONFIG_FOLDER=./data/caddy-config
FILE_BROWSER_SRV_FOLDER=./data/filebrowser/srv
FILE_BROWSER_DATABASE_FOLDER=./data/filebrowser/database
FILE_BROWSER_CONFIG_FOLDER=./data/filebrowser/config
DOMAIN=home.local
REDIRECT_SCHEME=http
IP=192.168.1.10
