{$REDIRECT_SCHEME:http}://{$DOMAIN} {
	root * /srv
	redir /filebrowser {$REDIRECT_SCHEME:http}://filebrowser.{$DOMAIN}
	redir /medical-manager {$REDIRECT_SCHEME:http}://medical-manager.{$DOMAIN}
	file_server
}

{$REDIRECT_SCHEME:http}://filebrowser.{$DOMAIN} {
	reverse_proxy filebrowser:80
}

{$REDIRECT_SCHEME:http}://medical-manager.{$DOMAIN} {
	root * /srv/medical-manager

	handle /api/* {
		reverse_proxy medical-manager-backend:3000
	}

	try_files {path} /index.html
	file_server

    log {
        output file /var/log/caddy/access.log {
            roll_size 100mb
            roll_keep 10
            roll_keep_for 2160h
        }
        format json
        level {$LOG_LEVEL:INFO}
    }
}
