

${REDIRECT_SCHEME}://${DOMAIN} {
  root * /srv
  redir /filebrowser ${REDIRECT_SCHEME}://filebrowser.${DOMAIN}
  file_server
}

${REDIRECT_SCHEME}://filebrowser.${DOMAIN} {
  reverse_proxy filebrowser:80
}
